<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Browse Data - 766 Scouting</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
        <meta charset="UTF-8">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <link rel="apple-touch-startup-image" href="public/launch.png">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="apple-mobile-web-app-title" content="Scouting">
        <link rel="manifest" href="/app.webmanifest" />
        <link rel="stylesheet" href="css/float.min.css" type="text/css">
        <link rel="stylesheet" href="css/table.min.css" type="text/css">
        <link rel="stylesheet" href="css/supplement.min.css" type="text/css">
        <meta name="mobile-web-app-capable" content="yes">
        <script src="js/form.min.js"></script>
    </head>
    <body class="dark-mode">
        <script>
            themeHandle()
        </script>
        <div class="container" id="search" style="display: <%= displaySearch %>;">
            <!--flex is shown-->
            <form>
                <h1 style="font-family: 'raleway-300'">2023 Scouting Data<br><span class="gametitle">CHARGED UP</span></h1>
                <h4 style="color: red; display: <%= errorDisplay %>">
                    <%= errorMessage %>
                </h4>
                <h4>Match Data</h4>
                <fieldset>
                    <select name="type">
                        <option value="team" selected>Team </option>
                        <option value="match">Match </option>
                    </select>
                    <input type="tel" name="number" required>
                    <br>
                    <fieldset><br>
                        <label>Event Code: </label><br>
                        <select name="event">
                        <option value="CADA">CADA - Sacramento Regional</option>
                        <option value="CASJ">CASJ - Silicon Valley Regional</option>
                        <option value="WOOD">WOOD - CalGames</option>
                        <option value="CCCC" selected>CCCC - Capital City Classic</option>
                    </select>
                    </fieldset>
                    <button type="submit" class="uiButton actionButton">Search</button><br>
                    <button type="button" class="uiButton returnButton" onclick="goToHome()">Back</button>
                </fieldset>
                <small style="text-align: center;">To see all teams ranked by weighted score <a href="teams" style="all: unset; color: var(--gameFlairColor);">here</a></small><br>
                <small style="text-align: center;">To see robot images from pit scouting, go <a href="pitimages" style="all: unset; color: var(--gameFlairColor);">here</a></small><br>
                <small style="text-align: center;">Team notes can be accessed  <a href="notes" style="all: unset; color: var(--gameFlairColor);">here</a></small>
            </form>
            <br><br>
        </div>
        <div class="container" id="results" style="display: <%= displayResults %>;">
            <!--flex is shown-->
            <div class="dummy">
                <h1 style="font-family: 'raleway-300'">2023 Scouting Data<br><span class="gametitle">CHARGED UP</span></h1>
                <h4>Match Data</h4><br>
                <h3>
                    <%= resultsTeamNumber %> at
                        <%= resultsEventCode %>
                </h3>
                <div style="overflow-x: auto; width: 95vw;">
                    <table>
                        <tr>
                            <th rowspan="2">Match Number</th>
                            <th>Auto Score</th>
                            <th rowspan="2">Auto Charge</th>
                            <th>Teleop Score</th>
                            <th rowspan="2">Teleop Charge</th>
                            <th rowspan="2">Grid Points</th>
                            <th colspan="3">Cubes</th>
                            <th colspan="3">Cones</th>
                            <th colspan="3">Total</th>
                            <th rowspan="2">Cycle Time</th>
                            <th rowspan="2">Match Performance Score</th>
                        </tr>
                        <tr>
                            <th>B/M/T</th>
                            <th>B/M/T</th>
                            <th>Low</th>
                            <th>Mid</th>
                            <th>High</th>
                            <th>Low</th>
                            <th>Mid</th>
                            <th>High</th>
                            <th>Low</th>
                            <th>Mid</th>
                            <th>High</th>
                        </tr>
                        <%- resultsBody %>
                    </table>
                </div>
                <!--buttons-->
                <button type="button" class="uiButton returnButton" onclick="removeURLParams()">New Search</button>&emsp;<button type="button" class="uiButton returnButton" onclick="goToHome()">Home</button>
                <br><br>
                <small style="text-align: center;">To see robot images from pit scouting, go <a href="pitimages" style="all: unset; color: var(--gameFlairColor);">here</a></small>
            </div>
        </div>
        <script>
            function removeURLParams() {
                window.location.href = "/browse"
            }
            function goToHome() {
                window.location.href = "/";
            }
        </script>
    </body>
</html>