<!DOCTYPE html>
<html lang="en">
<head>
    <title>CHARGED UP Scouting Data</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="2023_float.css" type="text/css">
    <style>
        a,a:visited {
            text-align: center;
            text-decoration: none;
            font-size: 6vh;
            border-top: rgba(35,35,35,0);
            border-left: rgba(35,35,35,0);
            border-right: rgba(35,35,35,0);
            border-bottom: #fff;
            border-style: dotted;
            border-width: 0.25vh;
        }
        a:hover,a:active {
            color: #fff;
        }
        body {
            text-align: center;
            background-color: #121212;
        }
    </style>
</head>
<body>
    <div class="container" id="search" style="display: <%= displaySearch %>;"> <!--flex is shown-->
        <form>
            <h1 style="font-family: 'raleway-300'">2023 Scouting Data<br><span class="gametitle">CHARGED UP℠</span></h1><br><br>
            <fieldset>
                <label>Target Team Number: <br></label>
                <input type="tel" name="team" required><br>
                <input type="hidden" name="page" value="0">
            <br><fieldset>
                <label>Event Code: </label><br>
                <select name="event">
                    <option value="CADA" selected>CADA - Sacramento Regional</option>
                    <option value="CASJ">CASJ - Silicon Valley Regional</option>
                </select>
            </fieldset>
            <input type="submit" value="Search" style="color: #000; background-color: #68C3E2; border-radius: 0.5rem;; border-style: solid; border-color: #68C3E2; border-width: 0.875rem;; margin-top: 1rem;"><br><br>
            </fieldset>
        </form>
        <br><br>
    </div>
    <div class="container" id="results" style="display: <%= displayResults %>;"> <!--flex is shown-->
        <div class="dummy">
            <h1 style="font-family: 'raleway-300'">2023 Scouting Data<br><span class="gametitle">CHARGED UP℠</span></h1><br><br>
            <fieldset>
            <fieldset>
                <h3>Team Number: <%= resultsTeamNumber %></h3>
                <h5>Match Number:  <%= resultsMatchNumber %> |  Event: <%= resultsEventCode %></h5>
                <h5><%= resultsBody %></h5>
            </fieldset>
            <!--buttons-->
            <button style="color: #000; background-color: #68C3E2; border-radius: 0.5rem;; border-style: solid; border-color: #68C3E2; border-width: 0.875rem;; margin-top: 1rem;">Next</button>&emsp;<button style="color: #000; background-color: #68C3E2; border-radius: 0.5rem;; border-style: solid; border-color: #68C3E2; border-width: 0.875rem;; margin-top: 1rem;">Previous</button><br><br>
            <button style="color: #000; background-color: #FFB600; border-radius: 0.5rem;; border-style: solid; border-color: #FFB600; border-width: 0.875rem;; margin-top: 1rem;" onclick="removeURLParams()">New Search</button>
            </fieldset>
        <br><br>
    </div>
    </div>
    <script>
        function removeURLParams() {
            let url = new URL(location.href);
            url.searchParams.delete('team');
            url.searchParams.delete('page');
            url.searchParams.delete('event');
            window.location.href = url;
        }
    </script>
</body>
</html>