<!DOCTYPE html>
<html lang="en">
<head>
    <title>CHARGED UP Scouting Data</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="2023_float.css" type="text/css">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-startup-image" href="public/launch.png">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="Scouting">
    <link rel="manifest" href="/app.webmanifest"/>
    <style>
        a,a:visited {
            text-align: center;
            text-decoration: none;
            font-size: 6vh;
            border-top: rgba(35,35,35,0);
            border-left: rgba(35,35,35,0);
            border-right: rgba(35,35,35,0);
            border-bottom: #fff;
            border-style: dotted;
            border-width: 0.25vh;
        }
        a:hover,a:active {
            color: #fff;
        }
        body {
            text-align: center;
            background-color: #121212;
        }
    </style>
</head>
<body>
    <div class="container" id="search" style="display: <%= displaySearch %>;"> <!--flex is shown-->
        <form>
            <h1 style="font-family: 'raleway-300'">2023 Scouting Data<br><span class="gametitle">CHARGED UP℠</span></h1>
            <h4 style="color: red; display: <%= errorDisplay %>"><%= errorMessage %></h4>
            <h4>Image Database</h4><br>
            <fieldset>
                <label>Target Team Number: <br></label>
                <input type="tel" name="team" required><br>
                <input type="hidden" name="page" value="0">
            <br><fieldset>
                <label>Event Code: </label><br>
                <select name="event">
                    <option value="CADA" selected>CADA - Sacramento Regional</option>
                    <option value="CASJ">CASJ - Silicon Valley Regional</option>
                </select>
            </fieldset>
            <input type="submit" value="Search" style="color: #000; background-color: #68C3E2; border-radius: 0.5rem;; border-style: solid; border-color: #68C3E2; border-width: 0.875rem;; margin-top: 1rem;"><br>
            <button style="color: #000; background-color: #FFB600; border-radius: 0.5rem;; border-style: solid; border-color: #FFB600; border-width: 0.875rem;; margin-top: 1rem;" onclick="goToHome()">Back</button>
            </fieldset>
            <small style="text-align: center;">To see match scouting data, go <a href="browse" style="all: unset; color: #68C3E2;">here</a></small>
        </form>
        <br><br>
    </div>
    <div class="container" id="results" style="display: <%= displayResults %>;"> <!--flex is shown-->
        <div class="dummy">
            <h1 style="font-family: 'raleway-300'">2023 Scouting Data<br><span class="gametitle">CHARGED UP℠</span></h1>
            <h4>Image Database</h4><br>
            <fieldset>
            <fieldset>
                <h3>Team Number: <%= resultsTeamNumber %></h3>
                <h5>Event: <%= resultsEventCode %></h5>
                <h5 style="text-align: left"><%- resultsBody %></h5>
            </fieldset>
            <!--buttons-->
            <button style="color: #000; background-color: #68C3E2; border-radius: 0.5rem;; border-style: solid; border-color: #68C3E2; border-width: 0.875rem;; margin-top: 1rem;" onclick='pageControl("bck")'>Previous</button>&emsp;<button style="color: #000; background-color: #68C3E2; border-radius: 0.5rem;; border-style: solid; border-color: #68C3E2; border-width: 0.875rem;; margin-top: 1rem;" onclick='pageControl("fwd")'>Next</button><br>
            <button style="color: #000; background-color: #FFB600; border-radius: 0.5rem;; border-style: solid; border-color: #FFB600; border-width: 0.875rem;; margin-top: 1rem;" onclick="removeURLParams()">New Search</button>
            </fieldset>
            <small style="text-align: center;">To see match scouting data, go <a href="browse" style="all: unset; color: #68C3E2;">here</a></small>
    </div>
    </div>
    <script>
        function removeURLParams() {
            let url = new URL(location.href);
            url.searchParams.delete('team');
            url.searchParams.delete('page');
            url.searchParams.delete('event');
            window.location.href = url;
        }
        function goToHome() {
            window.location.href = "/";
        }
    </script>
</body>
</html>